/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}
.mainHeader h2 {
  text-align: center;
  margin: 2%;
}
@media (max-width: 500px) {
  .mainHeader h2 {
    margin-left: 2.5rem;
  }
}
@media (max-width: 500px) {
  .mainHeader p {
    padding: 0 2rem 2rem 2rem;
  }
}
.navContainer {
  display: flex;
  border-bottom: 2px solid #cbcbcb;
  justify-content: space-evenly;
  padding: 2rem;
  background: #25c8da;
  color: white;
}
@media (max-width: 500px) {
  .navContainer {
    flex-direction: column;
    text-align: center;
  }
}
.navContainer .navTitle {
  margin-right: 10rem;
}
@media (max-width: 500px) {
  .navContainer .navTitle {
    text-align: center;
    margin-left: 8rem;
  }
}
.navContainer .navigation {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.navContainer a {
  color: white;
  text-decoration: none;
  margin: 0 3rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  text-align: center;
  margin: 2% 0;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  display: flex;
  border-bottom: 2px solid #cbcbcb;
  justify-content: space-evenly;
  padding: 2rem;
  background: #25c8da;
  color: white;
}
@media (max-width: 500px) {
  .navContainer {
    flex-direction: column;
    text-align: center;
  }
}
.navContainer .navTitle {
  margin-right: 10rem;
}
@media (max-width: 500px) {
  .navContainer .navTitle {
    text-align: center;
    margin-left: 8rem;
  }
}
.navContainer .navigation {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.navContainer a {
  color: white;
  text-decoration: none;
  margin: 0 3rem;
}
.footer {
  width: 100%;
  border-bottom: 2px solid #cbcbcb;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .about-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .about-section {
    flex-direction: column;
  }
}
.home .about-section .share-jokes-text {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .about-section .share-jokes-text {
    width: 95%;
    margin: 0 2rem 2rem 2rem;
    order: 1;
  }
}
.home .about-section .see-jokes-text {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .about-section .see-jokes-text {
    width: 95%;
    margin: 0 2rem 2rem 2rem;
    order: 1;
  }
}
.home .about-section2 .share-jokes-text {
  width: 48%;
  padding-right: 1%;
  order: 2;
}
@media (max-width: 500px) {
  .home .about-section2 .share-jokes-text {
    width: 95%;
    margin: 0 2rem 2rem 2rem;
  }
}
.home .about-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .about-section .img-content {
    width: 100%;
    padding: 0;
    align-self: center;
  }
}
.home .about-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .about-section .img-content img {
    width: 95%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    width: 95%;
    margin: 0 2rem 2rem 2rem;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 93%;
    margin: 0 2% 3rem 4%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-bottom: 2px solid #cbcbcb;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
    margin: 0 4% 2rem 9%;
  }
}
@media (max-width: 500px) {
  .mainHeader .headerContent .imgHeader {
    padding: 0 2.5rem;
  }
}
.mainHeader h2 {
  text-align: center;
  margin: 2%;
}
@media (max-width: 500px) {
  .mainHeader h2 {
    margin-left: 2.5rem;
  }
}
@media (max-width: 500px) {
  .mainHeader p {
    padding: 0 2rem 2rem 2rem;
  }
}
.btn {
  height: 6rem;
  border: 1px solid #25c8da;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 30rem;
  color: white;
  background-color: #25c8da;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s black;
  margin-left: 35%;
  margin-bottom: 2%;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .btn {
    width: 40rem;
    background: #25c8da;
    border: none;
    margin: 0 auto;
  }
}
.btn:hover {
  border: 1px solid #25c8da;
  background: #d3f4f8;
  color: #25c8da;
}
.btnTwo {
  height: 6rem;
  border: 1px solid #25c8da;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  color: white;
  background-color: #25c8da;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
}
.btnTwo:hover {
  border: 1px solid #25c8da;
  background: #d3f4f8;
  color: #25c8da;
}
.testimonial-section {
  display: flex;
  flex-direction: row;
}
.testimonial-section .testimonials {
  text-align: center;
  margin: 2%;
}
.testimonial-section .testimonials img {
  border-radius: 50%;
  width: 100%;
}
.testimonial-section .testimonials a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .testimonial-section {
    flex-direction: column;
  }
  .testimonial-section img {
    display: none;
  }
}
.get-ready .get-started {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .get-ready .get-started {
    font-size: 1.8rem;
  }
}
.footer {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  background-color: #51d3e1;
  padding: 2%;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}
.item {
  width: 20%;
  overflow: hidden;
  border-radius: 2px;
  margin: 2rem auto;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.25s ease-out;
}
@media (max-width: 500px) {
  .item {
    flex-direction: column;
  }
}
.item:hover {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.6);
}
img {
  width: 100%;
  display: block;
}
.item-content {
  background-color: #25c8da;
  padding: 1.5rem;
  opacity: 75%;
}
@media (max-width: 500px) {
  .item-content {
    display: flex;
  }
}
.card-font {
  font-size: 1.25rem;
  display: flex;
}
@media (max-width: 500px) {
  .card-font {
    justify-content: center;
    align-items: center;
  }
}
.item-content div {
  margin-top: 2rem;
  text-align: right;
  display: flex;
}
@media (max-width: 500px) {
  .item-content div {
    text-align: center;
  }
}
.ghicon {
  justify-content: center;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .ghicon {
    font-size: 10px;
  }
}
.card-action:hover {
  border: 1px solid #25c8da;
}
.card-action:focus {
  background-color: #4682b4;
}
.subtitle {
  padding: 0;
}
.fa-github-square {
  font-size: 0.5rem;
}
.fa-twitter-square {
  font-size: 0.5rem;
}
.get-ready .get-started {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .get-ready .get-started {
    font-size: 1.8rem;
  }
}
.footer {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  background-color: #51d3e1;
  padding: 2%;
}
.contactInfo {
  margin-top: 5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.contactInfo h2 {
  text-align: center;
  font-size: 40px;
  color: #51d3e1;
}
#yourName {
  height: 40px;
  width: 75%;
  border-radius: 5px;
  outline: none;
  border: 3px dashed #25c8da;
  text-align: center;
  background-color: #a8e9f0;
  font-size: 20px;
  opacity: 0.5;
  resize: none;
  font-family: "Roboto", sans-serif;
}
#yourEmail {
  height: 40px;
  width: 75%;
  border-radius: 5px;
  outline: none;
  border: 3px dashed #25c8da;
  text-align: center;
  background-color: #a8e9f0;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 15px;
  resize: none;
  font-family: "Roboto", sans-serif;
}
#yourMessage {
  height: 200px;
  width: 75%;
  border-radius: 5px;
  outline: none;
  border: 3px dashed #25c8da;
  text-align: center;
  background-color: #a8e9f0;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: none;
  font-family: "Roboto", sans-serif;
}
.submitContact {
  border: 1px solid #25c8da;
  padding: 10px;
  width: 250px;
  height: 50px;
  margin-bottom: 2%;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #7cdee9;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.submitContact:hover {
  border: 1px solid #25c8da;
  background: #d3f4f8;
  color: #25c8da;
}
address {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7cdee9;
}
.fab {
  font-size: 5rem;
  margin: 1% 5%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .fab {
    font-size: 2rem;
  }
}
.fa-github {
  color: #4078c0;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-facebook {
  color: #3b5998;
}
.fa-linkedin-in {
  color: #0077b5;
}
.test-container {
  display: flex;
  width: 90%;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .test-container {
    flex-direction: column-reverse;
  }
}
.test-container .text-block {
  padding: 15px;
}
.test-container .text-block h3 {
  font-size: 2rem;
  margin: 10px 0 20px 0;
}
.screenshot-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .screenshot-container {
    flex-direction: column;
  }
}
.screenshot-container .screenshot1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #a8e9f0;
  background: linear-gradient(180deg, #a8e9f0 0%, #25c8da 100%);
}
@media (max-width: 500px) {
  .screenshot-container .screenshot1 {
    width: 90%;
    margin-bottom: 10px;
  }
}
.screenshot-container .screenshot1 h2 {
  padding: 20px;
  color: white;
}
.screenshot-container .screenshot1 img {
  margin: auto;
}
.screenshot-container .screenshot2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #c9cecf;
  background: linear-gradient(180deg, #c9cecf 0%, #798586 100%);
}
@media (max-width: 500px) {
  .screenshot-container .screenshot2 {
    width: 90%;
    margin-bottom: 10px;
  }
}
.screenshot-container .screenshot2 h2 {
  padding: 20px;
  color: white;
}
.screenshot-container .screenshot2 img {
  margin: auto;
}
.screenshot-container .screenshot3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #f7b5bb;
  background: linear-gradient(180deg, #f7b5bb 0%, #e82b3c 100%);
}
@media (max-width: 500px) {
  .screenshot-container .screenshot3 {
    width: 90%;
    margin-bottom: 10px;
  }
}
.screenshot-container .screenshot3 h2 {
  padding: 20px;
  color: white;
}
.screenshot-container .screenshot3 img {
  margin: auto;
}
