.contactInfo {
  margin-top: 5%;
  text-align: center;
  font-family: @roboto;
}
.contactInfo h2 {
  text-align: center;
  font-size: 40px;
  color: @submainblue;
}
#yourName {
  height: 40px;
  width: 75%;
  border-radius: 5px;
  outline: none;
  border: 3px dashed @mainblue;
  text-align: center;
  background-color: @kindalighterblue;
  font-size: 20px;

  opacity: 0.5;
  resize: none;
  font-family: @roboto;
}
#yourEmail {
  height: 40px;
  width: 75%;
  border-radius: 5px;
  outline: none;
  border: 3px dashed @mainblue;
  text-align: center;
  background-color: @kindalighterblue;
  font-size: 20px;

  opacity: 0.5;
  margin-top: 15px;
  resize: none;
  font-family: @roboto;
}
#yourMessage {
  height: 200px;
  width: 75%;
  border-radius: 5px;
  outline: none;
  border: 3px dashed @mainblue;
  text-align: center;
  background-color: @kindalighterblue;
  font-size: 20px;

  opacity: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: none;
  font-family: @roboto;
}
.submitContact {
  border: 1px solid @mainblue;
  padding: 10px;
  width: 250px;
  height: 50px;
  margin-bottom: 2%;
  border-radius: 5px;
  font-size: 2rem;
  background-color: @lightblue;
  color: white;
  cursor: pointer;
  font-family: @roboto;

  &:hover {
    border: 1px solid @mainblue;
    background: #d3f4f8;
    color: #25c8da;
  }
}

address {
  font-size: 1.6rem;
  line-height: 1.5;
  color: @lightblue;
}
// Font Awesome icons below
.fab {
  font-size: 5rem;
  margin: 1% 5%;
  cursor: pointer;
  @media (max-width: 500px) {
    font-size: 2rem;
  }
}
.fa-github {
  color: #4078c0;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-facebook {
  color: #3b5998;
}
.fa-linkedin-in {
  color: #0077b5;
}
