@import "variables";

@import "reset";

@import "header";
@import "nav";
@import "main-body";
@import "footer";

    
.test-container{
    display: flex;
    width: 90%;
    margin: 20px auto;
    @media (max-width: 500px){
        flex-direction: column-reverse;
    }
    .text-block{
        padding: 15px;
        h3 {
            font-size: 2rem;
            margin: 10px 0 20px 0;
        }
        h4{
            font-size: 1.8rem;
        }
        .checked{
            color: orange;
        }
        .btn{
            margin: 10px 0 0 0;
            @media (max-width: 500px){
                margin: 10px auto 0 auto;
            }
        }
    } // closes .text-block
} // closes .test-container

.screenshot-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    @media (max-width: 500px){
        flex-direction: column;
    }
    .screenshot1{
        display: flex;
        flex-direction: column;
        width: 30%;
        background: rgb(168,233,240);
        background: linear-gradient(180deg, rgba(168,233,240,1) 0%, @mainblue 100%);
        border-radius: 20px;
        @media (max-width: 500px){
            width: 90%;
            margin:0 auto 10px auto; 
        }
        h2 {
            padding: 45px;
            color: white;
        } // closes h2
        img{
            width: 90%;
            margin: 0 auto;
        }
    } // closes .screenshot1
    .screenshot2{
        display: flex;
        flex-direction: column;
        width: 30%;
        background: rgb(201,206,207);
        background: linear-gradient(180deg, rgba(201,206,207,1) 0%, rgba(121,133,134,1) 100%);
        border-radius: 20px;
        @media (max-width: 500px){
            width: 90%;
            margin:0 auto 10px auto; 
        }
        h2 {
            padding: 45px;
            color: white;
        }//closes h2
        img{
            width: 90%;
            margin: 0 auto;
        }
    } // closes .screenshot2
    .screenshot3{
        display: flex;
        flex-direction: column;
        width: 30%;
        background: rgb(247,181,187);
        background: linear-gradient(180deg, rgba(247,181,187,1) 0%, rgba(232,43,60,1) 100%);
        border-radius: 20px;
        @media (max-width: 500px){
            width: 90%;
            margin:0 auto 10px auto; 
        }
        h2 {
            padding: 45px;
            color: white;
        }// closes h2
        img{
            width: 90%;
            margin: 0 auto;
        }
    }//closes .screenshot3
}// closes .screenshot-container


